<!-- Jinja is a Python template engine. jinja is inherent property of flask
Flask gives you Jinja by default, and assumes that you store all your Jinja templates in a subdirectory of your application named templates
Once we've created templates, we'll make calls from our Flask app to render these templates. Rendering involves parsing the Jinja code, inserting any dynamic data, and creating pure HTML to be returned to a user's browser.
-->


<html>
	
	<head>
		<title>HeadLines</title>
	</head>

	<form>
		<input type="text" name="publication" placeholder="search">
		<input type="submit" value="Submit">
	</form>

	<body>
		<h1>HeadLines</h1>
		{% for article in articles %}
		<b><a href="{{article.link}}">{{article.title}}</a></b><br>
		<i>{{article.published}}</i>
		<p>{{article.summary}}</p>
		<hr>
		{% endfor %}
	</body>

</html>